* {
  box-sizing: border-box;
  font-size: 10px;

}
:root {
  font-size: 10px;
}

html {
  font-size: 10px;
}
body {
  background: rgba(200,200,200,1);
  font-size: 10px;
}

textarea {
  resize: none;
}
input[type=text] {
  box-sizing: border-box;
  height: 2vh;
  width: 100%;
}
.hide_button button{
  color: rgba(100,100,100,1);
  border: rgba(255,0,0,0.5) solid 2px;
  background: rgba(200,200,200,0.5);
  border-radius: 4px;
}
.menu_button button{
  color: rgba(100,100,100,1);
  border: purple solid 2px;
  background: rgba(200,200,200,0.5);
  border-radius: 4px;
}
.popup {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: black solid 1px;
  padding: 1rem;
  border-radius: 6px;

}
.container {
  margin-top: 10vh;
  display: grid;
  align-items: center;
  width: 90%; 
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
  grid-gap: 1rem;
}
.row_1 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.row_2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: start;
}

.row_3 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: start;
}

.row_3 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: start;
  height: 20vh;
}

.row_4 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: start;
  height: 20vh;
}

.row_5 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: start;
  height: 20vh;
}

.row_6 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: start;
}

.row_6 button{
  color: rgba(255,255,255,1);
  border: green solid 2px;
  width: 6vw;
  height: 3vw;
  background: rgba(50,200,50,1);
  border-radius: 4px;
}


